---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header/index.astro'
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer/index.astro'
import Cards from '../components/Home/HomeCard.astro'
import Map from '../components/Home/Map.astro'
---

<Layout title="Colegio North Hills – El Conocimiento es Libertad">
	<Header />
	<main>
		<Hero />
		<Cards />
		<Map />
	</main>
	<Footer />
</Layout>
