---
import HeaderLink from './HeaderLink.astro'

export interface Props {
	link?: string
	href: string
	target?: string
}

const { href, link, target } = Astro.props
---

<li class="list-none flex justify-center items-center">
	<HeaderLink href={href} target={target} rel="prefetch">{link}</HeaderLink>
</li>
