---
import HeaderList from './HeaderList.astro'
---

<ul class="lg:flex lg:gap-3">
	<HeaderList href="/" icon="jam:home-f" link="Home" title="Home" />
	<HeaderList href="/blog" icon="jam:blogger" link="Blog" title="Blog" />
	<HeaderList href="/about" icon="jam:coffee" link="About" title="About me" />
	<div class="flex justify-center gap-3">
		<HeaderList
			href="mailto:ndeyros@gmail.com"
			icon="charm:mail"
			target="_blank"
			title="Send me a mail"
		/>
		<HeaderList
			href="https://github.com/nicolas-deyros"
			icon="jam:github"
			target="_blank"
			title="Github"
		/>
		<HeaderList
			href="https://www.linkedin.com/in/nicolasdeyros/"
			icon="jam:linkedin"
			target="_blank"
			title="Linkedin"
		/>
	</div>
</ul>
