---
import { Picture } from '@astrojs/image/components'

export interface Props {
	title: string
	img: string
	alt: string
	href: string
}

const { href, img, alt, title } = Astro.props
---

<li class="w-fit">
	<a href={href} rel="prefetch">
		<Picture
			src={img}
			class="rounded mx-auto"
			widths={[200, 400, 800]}
			sizes="(max-width: 275px) 25vw, 275px"
			alt={alt}
		/>
		<h2 class="text-2xl text-center uppercase text-blue-900 mt-2 font-semibold">
			{title}
		</h2>
	</a>
</li>
