---
export interface Props {
	href: string
	hrefText: string
}

const { href, hrefText } = Astro.props
---

<a href={href} rel="prefetch" class="w-full">
	<button
		class="bg-footer-link text-north-blue hover:bg-footer-btn-hover font-semibold w-full md:w-5/6 h-10 text-center rounded-md capitalize"
		>{hrefText}</button
	>
</a>
