---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header/index.astro'
import Footer from '../../components/Footer/index.astro'
---

<Layout title="niveles">
	<Header />
	<main>
		<h1>NORTH HILLS – EL CONOCIMIENTO ES LIBERTAD</h1>
		<p>
			La educación debe anticipar las estructuras por venir basándose en el
			desarrollo del mundo actual. El futuro abre una necesidad de revisión y
			síntesis histórica para poder avanzar. La cultura humana estará influida
			por perspectivas filosóficas del tipo moral y estructural. Además será
			necesario dotar al hombre de las herramientas modernas, cuya base es el
			continuo avance.
		</p>
	</main>
	<Footer />
</Layout>
